:root {
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #2E2F42;
    --color-main-text: #2E2F42;
    --color-secondary-text: #434455;
    --accent: #4D5AE5;
    --accent-pressed-state: #404BBF;
    --color-bg-team: #F4F4FD;
}

body {

    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;

}


.link {
    text-decoration: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-black {
    color: #2E2F42;
    font-size: 18px;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.list-item-one {
    color: #2e2f42;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;

}

.list-item-one:hover {
    color: #404bbf;
}

.list-item-one:focus {
    color: #404bbf;
}

.link:hover {
    color: #404BBF;
}

.link:focus {
    color: #404BBF;
}

.list {
    list-style: none;
}


.address-one {
    font-style: normal;
}

.address {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;

    letter-spacing: 0.32px;
}

.address-mail {
    color: #434455;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-mail:hover{
   color: #404bbf ;
}
.address-mail:focus{
    color: #404bbf;
}
.section-title-one {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 0.02em;
}

.section-title {
    background: #2E2F42;
    border: 1px solid #E7E9FC;
}
/* button */
.button-blue {
    font-family: 'Roboto', sans-serif;
    background: #4D5AE5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}


.button-blue:hover {
    color: #FFF;
    background-color: #404BBF;
}

.button-blue:focus{
    color: #FFF;
    background-color: #404BBF;
}

.button-port {
    font-family: 'Roboto', sans-serif;
    color: #4D5AE5;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #F4F4FD;
    cursor: pointer;
}

.button-port:hover {
    color: #ffffff;
    background-color: #404BBF;
}

.button-port:focus {
    color: #ffffff;
    background-color: #404BBF;
}

.title-list {
    border: 1px solid #E7E9FC;
    background: #FFF;
}

.title-projects {
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
}

.title-gap {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.section-blue {
    background-color: #F4F4FD;
}

.section {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-last {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;

}

.logo-white {
    font-family: 'Roboto', sans-serif;
    color: #F4F4FD;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer {
    background: #2E2F42;
}

.footer-title {
    color: #F4F4FD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}